body {
      height: 100vh;
      margin: 0;
    }

/*.container {
  border: 10px green solid;
}*/
    div {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
    }