

.container {
  border: 3px solid black;
  padding: 10px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr 2fr);
  grid-template-rows: repeat (10, 50px);
  grid-auto-flow: dense;


}

 
.item {
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 28px;
  background-color: #ffc600;
  display: grid;
  place-items: center center;
  
 }
 

  
/* With Item 1, start at col 3 and go until 5 */
  .item1 {
    grid-column: 3 / 5;
  }
/* With Item 2, start at col 5 and go until the end */
  .item2 {
    grid-column: 5 / -1
  }
/* Make Item 5 double span 2 cols and rows */
  .item5 {
    grid-column: span 2;
    grid-row: span 2;
  }
/* Make Item 8 two rows high */
  .item8 {
    grid-row: span 2;
  }
/* With Item 15, start at col 4  and go until the end */
  .item15 {
    grid-column: 4 / -1;
  }
/* Make item 18 span 4 widths, but end 9 */
  .item18 {
    grid-column: span 4 / 9;
  }
/* Make item 20 start at row 4 and go for 3 */
  .item20 {
    grid-row: 4 / span 3;
  }

/* Make item 31 start at col 2 and go to the end */
  .item31 {
    grid-column: 2 / -1;
  }
